
h1 {color: blue;
display: block;
 	margin: 0 auto;
	text-align: center;
}

h2{color:  blue;

	text-align: center;
}
h3{color: blue;
}
body {
  background-color: orange;

	 position: relative;
	 min-height: 100%;
	 min-height: 100vh;
}

nav{background-image: linear-gradient(rgb(0,71,171), rgb(0,71,171));
width: 100%;
position: fixed;}

header {background-image: linear-gradient(rgb(0,71,171), rgb(0,71,171));}
footer {
	background-image: linear-gradient(rgb(0,71,171), rgb(0,71,171));
	text-align: center;
    position: fixed;
    right: 0;bottom:0;left:0;
	width: 100%;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

.rules{
	color: white;
	padding-left: 300;
	list-style-type: none;
}
.footnav {
	color: white;
	text-align: center;
	display: inline;
}
.image{
	
	 text-align: center;
	 max_width: 100%;
 	
}
.information{
	display: block;
 	margin: 0 auto;
	text-align: center;
	color: white;
}
.news{
	color: white;
}
.list{
	padding-right: 40px;
	text-align:center;
	color: white;
	list-style-type: none;
}
.upcoming{
	color: red;

}
.card{
	width: 30rem;
}
.container{
	padding-top: 30px;
	align-content: center;
}

.row{
		padding-top: 30px;
	align-content: center;
}
